<header>
  <nav>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-2 p-3">
          <i class="bi bi-suit-spade-fill mystore-medium-icon"></i>
        </div>
        <div class="col-4 p-3">
          <!-- Adjust this depending on the page context -->
          <h1 class="mystore-header m-0 mystore-page-name">Mystore</h1>
        </div>
        <div class="col-6 p-3 d-flex justify-content-end">
          <!-- Icons go here -->
          <!-- <i class="bi bi-wrench mystore-medium-icon"></i>
          <sup>1</sup> -->
          <a routerLink="/cart">
            <div class="d-inline-block mystore-icon-group">
              <i class="bi bi-cart mystore-medium-icon"></i>
              <sup class="mystore-badge"><strong>{{cartItems.length}}</strong></sup>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>