<div class="mystore-grid-item w-100">
  <img src="../../assets/images/{{item.name.split(' ')[0] | lowercase}}.jpg" alt="Product image: {{item.name}}" class="img-fluid">
  <div class="mystore-item-summary">
    <h2 class="mystore-item-summary-title m-0 mystore-header mystore-wrappable-text">{{ item.name }}</h2>
    <p class="mystore-grid-item-summary-description mystore-wrappable-text">Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Soluta unde quam distinctio perspiciatis dicta, est odio beatae modi quos, amet omnis
      dolorum magni eum error animi, delectus exercitationem facilis ducimus.</p>
    <!-- <br> -->
    <h2 class="mystore-item-summary-price mystore-price mystore-header">{{ item.price | currency:'NGN':'symbol-narrow'
      }}</h2>
  </div>
</div>