:root {
  --mystore-primary-color: #0aff7f;
  --mystore-primary-color-contrast: #058040;
  --mystore-text-color: black;
  --mystore-text-color-contrast: white;
  --mystore-accent-color: #f52a2a;
  --mystore-unit-dimen: 4vw;
  --mystore-off-white: rgb(248, 248, 248);
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

p, input {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  margin: 0;
}

input {
  background-color: transparent;
  color: var(--mystore-text-color);
  border: 3px solid var(--mystore-primary-color-contrast);
  font-family: 'Jost', sans-serif;
}

.mystore-header{
  font-size: 21px;
  font-weight: 900;
  color: black;
}

.mystore-item-summary{
  padding: var(--mystore-unit-dimen);
}

.mystore-item-summary-description{
  height: 5vh;
  line-height: 2.5vh;
  overflow: hidden;
}

.mystore-wrappable-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mystore-list-item, .mystore-grid-item{
  background-color: var(--mystore-off-white);
}

.mystore-list-item:hover, .mystore-grid-item:hover{
  cursor: pointer;
  background-color: rgba(235, 235, 235);
  transition: background-color 200ms ease-in;
}

.subtitle {
  font-size: 12px;
}

.mystore-medium-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 24px;
}
